<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/T2_2_Pima_Indians_Diabetes(%ED%94%BC%EB%A7%88_%EC%9D%B8%EB%94%94%EC%96%B8_%EB%8B%B9%EB%87%A8%EB%B3%91).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

당뇨병 여부 판단
이상치 처리 (Glucose, BloodPressure, SkinThickness, Insulin, BMI가 0인 값)

In [ ]:
# 시험환경 세팅 (코드 변경 X, 시험환경과 유사하게 파일읽기 구현)
import pandas as pd
df = pd.read_csv("diabetes.csv")

from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(df, test_size=0.2, shuffle=True, random_state=2021)
y_train = X_train['Outcome']
X_train = X_train.drop(columns=['Outcome'])
y_test = X_test['Outcome']
X_test = X_test.drop(columns=['Outcome'])

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((614, 8), (614,), (154, 8), (154,))

EDA

In [ ]:
X_train.head()

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
147            2      106             64  ...  30.5                     1.400   34
344            8       95             72  ...  36.8                     0.485   57
390            1      100             66  ...  32.0                     0.444   42
150            1      136             74  ...  37.4                     0.399   24
132            3      170             64  ...  34.5                     0.356   30

[5 rows x 8 columns]

In [ ]:
y_train.value_counts()

0    403
1    211
Name: Outcome, dtype: int64

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 147 to 116
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               614 non-null    int64
 1   Glucose                   614 non-null    int64
 2   BloodPressure             614 non-null    int64
 3   SkinThickness             614 non-null    int64
 4   Insulin                   614 non-null    int64
 5   BMI                       614 non-null    float64
 6   DiabetesPedigreeFunction  614 non-null    float64
 7   Age                       614 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 43.2 KB

In [ ]:
X_train.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [ ]:
X_test.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [ ]:
X_train.describe()

       Pregnancies     Glucose  ...  DiabetesPedigreeFunction         Age
count   614.000000  614.000000  ...                614.000000  614.000000
mean      3.845277  120.705212  ...                  0.477471   33.319218
std       3.388952   32.047977  ...                  0.339811   11.940953
min       0.000000    0.000000  ...                  0.078000   21.000000
25%       1.000000   99.000000  ...                  0.244250   24.000000
50%       3.000000  117.000000  ...                  0.377000   29.000000
75%       6.000000  140.000000  ...                  0.628500   41.000000
max      17.000000  199.000000  ...                  2.420000   81.000000

[8 rows x 8 columns]

In [ ]:
X_train

데이터 전처리

In [ ]:
#이상치 처리
#Train
print('Glucose:', len(X_train[X_train['Glucose'] == 0]))
print('BloodPressure:', len(X_train[X_train['BloodPressure'] == 0]))
print('SkinThickness:', len(X_train[X_train['SkinThickness'] == 0]))
print('Insulin:', len(X_train[X_train['Insulin'] == 0]))
print('BMI:', len(X_train[X_train['BMI'] == 0]))

Glucose: 5
BloodPressure: 31
SkinThickness: 175
Insulin: 287
BMI: 9

In [ ]:
#Test
print('Glucose:', len(X_test[X_test['Glucose'] == 0]))
print('BloodPressure:', len(X_test[X_test['BloodPressure'] == 0]))
print('SkinThickness:', len(X_test[X_test['SkinThickness'] == 0]))
print('Insulin:', len(X_test[X_test['Insulin'] == 0]))
print('BMI:', len(X_test[X_test['BMI'] == 0]))

Glucose: 0
BloodPressure: 4
SkinThickness: 52
Insulin: 87
BMI: 2

트레인에만 0이 있는 포도당(Glucose)는 삭제 나머지는 평균값으로 대체 하여 이상치를 처리함

In [ ]:
#포도당 이상치 삭제
del_idx = X_train[(X_train['Glucose'] == 0)].index
del_idx

Int64Index([182, 75, 342, 502, 349], dtype='int64')

In [ ]:
print('Glucose 이상치 삭제 전 : ', X_train.shape, y_train.shape)
X_train = X_train.drop(index = del_idx, axis = 0)
y_train = y_train.drop(index = del_idx, axis = 0)
print('Glucose 이상치 삭제 후 : ', X_train.shape, y_train.shape)

Glucose 이상치 삭제 전 :  (614, 8) (614,)
Glucose 이상치 삭제 후 :  (609, 8) (609,)

In [ ]:
cols = ['BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
cols_mean = X_train[cols].mean()

In [ ]:
cols_mean

BloodPressure    68.538588
SkinThickness    20.911330
Insulin          82.866995
BMI              31.940887
dtype: float64

In [ ]:
X_train[cols].replace(0, cols_mean)

     BloodPressure  SkinThickness     Insulin   BMI
147           64.0       35.00000  119.000000  30.5
344           72.0       20.91133   82.866995  36.8
390           66.0       29.00000  196.000000  32.0
150           74.0       50.00000  204.000000  37.4
132           64.0       37.00000  225.000000  34.5
..             ...            ...         ...   ...
621           76.0       20.00000   82.866995  24.2
128           88.0       24.00000  145.000000  34.5
57            88.0       60.00000  110.000000  46.8
341           74.0       21.00000   73.000000  25.9
116           74.0       20.91133   82.866995  34.0

[609 rows x 4 columns]

In [ ]:
#스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [ ]:
pd.DataFrame(X_train_scaled, columns = X_train.columns).head()

   Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0    -0.546420 -0.519408  ...                  2.708083  0.053740
1     1.222064 -0.883411  ...                  0.019775  1.978900
2    -0.841167 -0.717955  ...                 -0.100685  0.723361
3    -0.841167  0.473330  ...                 -0.232896 -0.783286
4    -0.251673  1.598432  ...                 -0.359232 -0.281070

[5 rows x 8 columns]

In [ ]:
pd.DataFrame(X_test_scaled, columns = X_test.columns).head()

   Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0    -0.841167  2.359531  ...                  0.519242 -0.783286
1    -1.135914  1.830071  ...                  1.744405 -1.034394
2    -0.841167 -0.817229  ...                 -0.973283 -1.034394
3     0.043075  1.697706  ...                 -0.344542 -0.029963
4    -0.251673  0.274782  ...                 -0.456188  0.053740

[5 rows x 8 columns]

In [ ]:
from sklearn.svm import SVC

model = SVC(random_state = 2022)
model.fit(X_train_scaled, y_train)
predictions = model.predict(X_test_scaled)

In [ ]:
round(model.score(X_train_scaled, y_train) * 100, 2)

83.42

In [ ]:
output = pd.DataFrame({'idx' : y_test.index, 'Outcome' : predictions})

In [ ]:
output.to_csv('21312.csv', index = False)

In [ ]:
round(model.score(X_test_scaled, y_test) * 100, 2) # 60점대로 낮은 정확도를 보여줌

76.62