<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9E%91%EC%97%85%ED%98%95_2_%EC%98%88%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
X_train = pd.read_csv('X_train.csv', encoding = "euc-kr")
y_train = pd.read_csv('y_train.csv')
X_test = pd.read_csv('X_test.csv', encoding = "euc-kr")

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(3500, 10)
(3500, 2)
(2482, 10)

#basic EDA

In [ ]:
X_train.columns

Index(['cust_id', '총구매액', '최대구매액', '환불금액', '주구매상품', '주구매지점', '내점일수', '내점당구매건수',
       '주말방문비율', '구매주기'],
      dtype='object')

In [ ]:
X_train.head()

   cust_id      총구매액     최대구매액       환불금액  ... 내점일수   내점당구매건수    주말방문비율  구매주기
0        0  68282840  11264000  6860000.0  ...   19  3.894737  0.527027    17
1        1   2136000   2136000   300000.0  ...    2  1.500000  0.000000     1
2        2   3197000   1639000        NaN  ...    2  2.000000  0.000000     1
3        3  16077620   4935000        NaN  ...   18  2.444444  0.318182    16
4        4  29050000  24000000        NaN  ...    2  1.500000  0.000000    85

[5 rows x 10 columns]

In [ ]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [ ]:
#결측치 확인
X_train.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [ ]:
#X_train 데이터 기초 통계
X_train.describe()

           cust_id          총구매액  ...       주말방문비율         구매주기
count  3500.000000  3.500000e+03  ...  3500.000000  3500.000000
mean   1749.500000  9.191925e+07  ...     0.307246    20.958286
std    1010.507298  1.635065e+08  ...     0.289752    24.748682
min       0.000000 -5.242152e+07  ...     0.000000     0.000000
25%     874.750000  4.747050e+06  ...     0.027291     4.000000
50%    1749.500000  2.822270e+07  ...     0.256410    13.000000
75%    2624.250000  1.065079e+08  ...     0.448980    28.000000
max    3499.000000  2.323180e+09  ...     1.000000   166.000000

[8 rows x 8 columns]

In [ ]:
X_train.describe(include = 'object')

       주구매상품 주구매지점
count   3500  3500
unique    42    24
top       기타  본  점
freq     595  1077

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [ ]:
y_train['gender'].value_counts()

0    2184
1    1316
Name: gender, dtype: int64

#데이터 전처리

In [ ]:
X_train = X_train.fillna(X_train['환불금액'].mean())
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB

In [ ]:
X_test.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [ ]:
X_test = X_test.fillna(X_test['환불금액'].mean())

In [ ]:
X_train = X_train.drop(['cust_id'], axis = 1)
cust_id = X_test.pop('cust_id') #csv파일을 만들때 사용학기 위해 잠시 저장

In [ ]:
X_train.head()

       총구매액     최대구매액          환불금액   주구매상품  ... 내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6.860000e+06      기타  ...   19  3.894737  0.527027    17
1   2136000   2136000  3.000000e+05     스포츠  ...    2  1.500000  0.000000     1
2   3197000   1639000  2.407822e+07  남성 캐주얼  ...    2  2.000000  0.000000     1
3  16077620   4935000  2.407822e+07      기타  ...   18  2.444444  0.318182    16
4  29050000  24000000  2.407822e+07      보석  ...    2  1.500000  0.000000    85

[5 rows x 9 columns]

In [ ]:
cust_id

0       3500
1       3501
2       3502
3       3503
4       3504
        ...
2477    5977
2478    5978
2479    5979
2480    5980
2481    5981
Name: cust_id, Length: 2482, dtype: int64

#피처엔지니어링

In [ ]:
#레이블인코딩 - 범주형 변수 변환
from sklearn.preprocessing import LabelEncoder
cols = ['주구매상품', '주구매지점']
for col in cols:
  le = LabelEncoder()
  X_train[col] = le.fit_transform(X_train[col])
  X_test[col] = le.fit_transform(X_test[col])

X_train.head()

       총구매액     최대구매액          환불금액  주구매상품  ...  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6.860000e+06      5  ...    19  3.894737  0.527027    17
1   2136000   2136000  3.000000e+05     21  ...     2  1.500000  0.000000     1
2   3197000   1639000  2.407822e+07      6  ...     2  2.000000  0.000000     1
3  16077620   4935000  2.407822e+07      5  ...    18  2.444444  0.318182    16
4  29050000  24000000  2.407822e+07     15  ...     2  1.500000  0.000000    85

[5 rows x 9 columns]

#모델링 & 하이퍼 파라미터 튜닝

In [ ]:
#모델링, 하이퍼 파라미터 튜닝, 앙상블
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100,
                               max_depth = 5,
                               random_state = 2022)

model.fit(X_train, y_train['gender'])
print(model.score(X_train, y_train['gender']))
predictions = model.predict_proba(X_test)

0.6871428571428572

In [ ]:
predictions[:, 1]

array([0.44029057, 0.19185206, 0.21520348, ..., 0.3844777 , 0.36119256,
       0.53373123])

In [ ]:
#csv 생성
output = pd.DataFrame({'cust_id': cust_id, 'gender': predictions[:, 1]})

In [ ]:
output.head()

   cust_id    gender
0     3500  0.440291
1     3501  0.191852
2     3502  0.215203
3     3503  0.414284
4     3504  0.474877

In [ ]:
output.to_csv("123456789.csv", index = False)