<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC(map).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('basic1.csv')

In [ ]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [ ]:
len(df)

100

In [ ]:
df.drop(['f3'], axis = 1, inplace = True)

In [ ]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f4       0
f5       0
dtype: int64

In [ ]:
s = df[df['city'] == '서울']['f1'].median()
k = df[df['city'] == '경기']['f1'].median()
d= df[df['city'] == '대구']['f1'].median()
b= df[df['city'] == '부산']['f1'].median()

In [ ]:
s, k, d, b

(68.0, 58.0, 75.0, 62.0)

In [ ]:
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,
                                           '경기':k,
                                           '대구':d,
                                           '부산':b}))

In [ ]:
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울  68.0   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울  68.0   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [ ]:
print(df['f1'].mean())

65.52