<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EB%88%84%EC%A0%81%ED%95%A9__%EB%B3%B4%EA%B0%84(%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC)_T1_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('basic1.csv')

In [ ]:
df[df['f2'] == 1]['f1']

1      70.0
2      61.0
6      60.0
7     101.0
9      74.0
13     50.0
14     67.0
16      NaN
19     51.0
20      NaN
21     72.0
22     75.0
25     57.0
27     34.0
33      NaN
35     77.0
37      NaN
46     75.0
49     78.0
51     82.0
53      NaN
55      NaN
58      NaN
62     86.0
65      NaN
66     52.0
69     96.0
72      NaN
77     96.0
80     50.0
82     50.0
86      NaN
88     66.0
91     78.0
93      NaN
94     43.0
95     53.0
Name: f1, dtype: float64

In [ ]:
df[df['f2'] == 1]['f1'].cumsum()

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [ ]:
df2 = df[df['f2'] == 1]['f1'].cumsum()

In [ ]:
print(df2.fillna(method = 'bfill').mean())

980.3783783783783

In [ ]:
# 뒷값으로 결측치 채우기
s = pd.Series([np.nan, "퇴근후", np.nan,"딴짓", np.nan, 22, np.nan,45, np.nan, np.nan, 60])
print(s)

s.fillna(method='bfill') # 바로 뒤값으로 채워넣는 방법
# s.fillna(method='pad') # 이전값으로 채워넣는 방법

0     NaN
1     퇴근후
2     NaN
3      딴짓
4     NaN
5      22
6     NaN
7      45
8     NaN
9     NaN
10     60
dtype: object

0     퇴근후
1     퇴근후
2      딴짓
3      딴짓
4      22
5      22
6      45
7      45
8      60
9      60
10     60
dtype: object