<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_T1_12_%EC%83%81%EC%9C%84_10%EA%B0%9C%2C_%ED%95%98%EC%9C%84_10%EA%B0%9C_%EC%B0%A8%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 
* (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('covid_vaccination_vs_death_ratio.csv')

In [ ]:
df.head()

   Unnamed: 0      country iso_code  ... New_deaths  population     ratio
0           0  Afghanistan      AFG  ...         12  40094444.0  1.119552
1           1  Afghanistan      AFG  ...         10  40094444.0  1.173083
2           2  Afghanistan      AFG  ...         10  40094444.0  1.188112
3           3  Afghanistan      AFG  ...         19  40094444.0  1.195607
4           4  Afghanistan      AFG  ...         14  40094444.0  1.196111

[5 rows x 10 columns]

In [ ]:
df.shape

(20332, 10)

In [ ]:
df.tail()

       Unnamed: 0   country iso_code  ... New_deaths  population      ratio
20327       20327  Zimbabwe      ZWE  ...          2  15158323.0  20.566893
20328       20328  Zimbabwe      ZWE  ...          0  15158323.0  20.639473
20329       20329  Zimbabwe      ZWE  ...          0  15158323.0  20.717239
20330       20330  Zimbabwe      ZWE  ...          3  15158323.0  20.797927
20331       20331  Zimbabwe      ZWE  ...          3  15158323.0  20.858567

[5 rows x 10 columns]

In [ ]:
df2 = df.groupby(['country']).max()
df2 = df2.sort_values(by = 'ratio', ascending = False)

In [ ]:
df2.head()

                      Unnamed: 0 iso_code  ...  population       ratio
country                                    ...
Gibraltar                   6927      GIB  ...     33698.0  118.567868
Malta                      11899      MLT  ...    443198.0   94.878361
United Arab Emirates       19156      ARE  ...  10020076.0   94.163348
Portugal                   15079      PRT  ...  10159436.0   88.172139
Cuba                        4350      CUB  ...  11315124.0   84.786477

[5 rows x 9 columns]

In [ ]:
df2 = df2[df2['ratio'] <= 100]

In [ ]:
df2.head()

                      Unnamed: 0 iso_code  ...  population      ratio
country                                    ...
Malta                      11899      MLT  ...    443198.0  94.878361
United Arab Emirates       19156      ARE  ...  10020076.0  94.163348
Portugal                   15079      PRT  ...  10159436.0  88.172139
Cuba                        4350      CUB  ...  11315124.0  84.786477
Cayman Islands              3523      CYM  ...     66497.0  83.507527

[5 rows x 9 columns]

In [ ]:
len(df2)

197

In [ ]:
upper = df2.head(10)['ratio'].mean()
lower = df2.tail(10)['ratio'].mean()

In [ ]:
upper , lower

(85.07917839913583, 0.8901804081545984)

In [ ]:
round(upper - lower, 1)

84.2